---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
      <p><a href="https://frest.substack.com">My other blog</a>, where I discuss the <i>Frest</i> research project concerned with greatly expanding the use of the relational model in software engineering.</p>
      <p>My <a href="https://lydb.xyz><i>other</i> other blog</a>, where I discuss database issues.</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        <li><a href="https://twitter.com/unclouded" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="github"><a href="http://github.com/gisborne" target="_blank"><i class="fa fa-github"></i></a></li>
        <li class="linkedin"><a href="https://in.linkedin.com/in/guyren/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li class="email"><a href="mailto:guyren@relevantlogic.com"><i class="fa fa-envelope-o"></i></a></li>
        <li class="rss"></li><a class="btn btn-rss" href="/feed.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
